body {
    background-color: aquamarine;
    text-align: center;
}
h1 {
    background-color: aqua;
    color: black;
    padding: 20px;
    font-size: 5rem;
    
}
div {
    background-color: brown;
    padding: 100px;
    width: 500px;
    text-align: center;
    height: 1080px

.kantlinje {
     border: 20px deeppink solid
}

    
}
a {
    color: aliceblue;
}