body {
    font-family:'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#skjema {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 1rem;
}

label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#submit {
    background-color:rgb(29, 130, 253);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

