body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "main   main   main"
        "footer footer footer";
}


header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


header {
    display: flex;
    justify-content: space-between;
}

main {
    border-top: 2px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.task {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    color: rgb(0, 122, 0);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 1rem;
    margin: 0.5rem;
}

.closed {
    display: none;
}

#taskMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.blur {
    filter: blur(2.5px);
    transition: filter 0.2s ease-in-out;
}

button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 1rem;
    height: 4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    transform: scale(1.02)
}
